/* Eric Meyer’s “Reset CSS” 2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Book styles */
html {
  background: url(images/patterns.png) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

a { color: #ffffff; text-decoration: underline; }

div#logo { position: fixed; right: 20px; top: 90px; }

#title {
  margin: 20px 0 0 20px;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: bold;
}
#menu {
  margin: 20px 0 0 20px;
  letter-spacing: 2px;
  line-height: 22px;
}
#menu span { padding: 0 24px 20px 0; }
#menu a { color: #000000; text-decoration: none; }
#menu a:hover, #menu a:active, #menu a.current { text-shadow: 1px 1px 1px #444444; }

.content { width: 550px; margin: 20px 0 0 20px; padding: 20px; }
.content p { line-height: 1.2em; margin: 10px 0; }
.content p.content-title { text-decoration: underline; }
.content p.details { font-size: 11px; }

.green-back { background-color:rgba(0,153,0,0.65); }
.red-back { background-color:rgba(255,0,0,0.65); }

#news { overflow: auto; }
#threed-book, #news-book-release { float: left; }
#news-book-release { margin-top: 60px; }

#about { overflow: auto; }
#about-main, #about-extra { float: left; }
#about-main { width: 390px; }
#about-extra { font-size: 11px; margin-left: 40px; }
#about-extra p { text-align: center; margin-top: 80px; }

#look { height: 322px; }
#look-back, #look-forward { position: relative; width: 20px; height: 322px; float: left; }
#look-back a, #look-forward a { position: absolute; top: 50%; width: 20px; }
#look-back { text-align: left; }
#look-forward { text-align: right; }
#look-page { width: 510px; float: left; }
#look-page img { width: 510px; height: 322px; }

#news, #about, #look, #making, #buy, #contact { display: none; }

#preorder-signup label { height: 24px; width: 90px; position: absolute; }
#preorder-signup input, #preorder-signup select {
  margin: 0 0 8px 90px;
  width: 220px;
  height: 20px;
  font-size: 14px;
  border: solid 1px #AAA;
  letter-spacing: 1px;
  line-height: 16px;
}
#preorder-signup select {
  width: 224px;
  height: 22px;
}
#message.error { color: red; }
button.slick-black {
  background: #111;
  background: -moz-linear-gradient(top,
              rgba(50, 50, 50, 0.9) 0%,
              rgba(30, 30, 30, 0.9) 50%,
              rgba(20, 20, 20, 0.9) 50%,
              rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(50, 50, 50, 0.9)),
              color-stop(0.5, rgba(30, 30, 30, 0.9)),
              color-stop(0.5, rgba(20, 20, 20, 0.9)),
              color-stop(1, rgba(0, 0, 0, 0.9)));
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
  width: 120px;
  height: 30px;
  margin: 10px auto 0 auto;
}

button.slick-black.disabled {
  background: #777777;
  background: -moz-linear-gradient(top,
              rgba(90, 90, 90, 0.9) 0%,
              rgba(70, 70, 70, 0.9) 50%,
              rgba(60, 60, 60, 0.9) 50%,
              rgba(40, 40, 40, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(90, 90, 90, 0.9)),
              color-stop(0.5, rgba(70, 70, 70, 0.9)),
              color-stop(0.5, rgba(60, 60, 60, 0.9)),
              color-stop(1, rgba(40, 40, 40, 0.9)));
  color: #bbbbbb;
}

button.slick-black:hover {
  background: #222;
  background: -moz-linear-gradient(top,
              rgba(70, 70, 70, 0.9) 0%,
              rgba(50, 50, 50, 0.9) 50%,
              rgba(40, 40, 40, 0.9) 50%,
              rgba(20, 20, 20, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(70, 70, 70, 0.9)),
              color-stop(0.5, rgba(50, 50, 50, 0.9)),
              color-stop(0.5, rgba(40, 40, 40, 0.9)),
              color-stop(1, rgba(20, 20, 20, 0.9)));
  cursor: pointer;
}

button.slick-black:active {
  background: #000;
  background: -moz-linear-gradient(top,
              rgba(30, 30, 30, 0.9) 0%,
              rgba(20, 20, 20, 0.9) 50%,
              rgba(10, 10, 10, 0.9) 50%,
              rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(30, 30, 30, 0.9)),
              color-stop(0.5, rgba(20, 20, 20, 0.9)),
              color-stop(0.5, rgba(10, 10, 10, 0.9)),
              color-stop(1, rgba(0, 0, 0, 0.9)));
}
